#acting_parent {
    height: 200%; 
    width: 100%; 
    /* background: rgb(10, 1, 1);  */
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly; 
    background: url('..//Images/showbiz.jpg'); 
    background-size: cover; 
    overflow: hidden;
}

#acting_container {
    width: 80%; 
    height: 40%;
    margin-left: 10%; 
    margin-top: 5%; 
    background: rgb(215, 212, 233, 0.5); 
    border-radius: 10px; 
    border-color: rgb(9, 9, 51); 
    border-width: 2px; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly; 
}

#modeling_container {
    width: 80%; 
    height: 40%;
    margin-left: 10%; 
    margin-top: 0%; 
    background: rgb(215, 212, 233, 0.5); 
    border-radius: 10px; 
    border-color: rgb(9, 9, 51); 
    border-width: 2px; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly; 
}

#modeling_container > img {
    max-width: 100%; 
    max-height: 100%; 
    margin: auto; 
    border-radius: 10px; 
}

#acting_container > video_display {
    margin-top: 10%; 
}

